*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
    color: #555;
    font-family: "Poppins","Verdana";
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    background-color: #e4f3f3;
}

header{
    min-height:70vh;
    background-color: #E4ECDC;
}

.rtbutton{
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
}

.rtbutton a:link, .rtbutton a:visited{
    color: black;
}

.logo{
    height: 60px;
    width: auto;
}
     
.btn-outline-success:hover {
    color: #fff;
    background-color: #9F0101;
    border-color: #9F0101;
}
.navb{
    background-color: #e4f3f3;

}

.jumb{
    height: 87.7vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url(../img/uibg.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}

.jumbbutton:hover{
    color: #fff;
    background-color: #9F0101;
    border-color: #9F0101;
}

.second{
    min-height: 100vh;
}

.sec3{
    background-color: #E4F3F3;
    min-height: 100vh;
}


.gall{
    color: #9F0101;
    font-size: 200%;
    padding: 10px;
}

.seconds{
    min-height: 90vh;
    display: block;
}

.foote{
    min-height: 10vh;
    background-color: #9F0101;
    color: white;
    font-size: 90%;
    
}